h1{
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color:#eae2b7;
    padding: 0.5em;
    width: 300px;
    font-size: 1em;
    text-align: center;
    font-family: 'Courier New';
    font-weight: lighter;
    /* auto here means it center the element into the center of watever container it is at */
    margin: 20px auto;
}
section{
    font-size: 15px;
}
h1:nth-of-type(2n){
    background-color: #e9c46a;
}
h1:nth-of-type(3n){
    background-color: #f5a261;
}
h1:nth-of-type(4n){
    background-color: #e76f51;
}
h1:nth-of-type(5n){
    background-color: #f56215;
}
/* all follows X and Y cordinates */
section:first-of-type h1:nth-of-type(1){
    transform:rotate(45deg);
}
section:first-of-type h1:nth-of-type(2){
    transform:scale(0.5);
}
section:first-of-type h1:nth-of-type(3){
    transform:translate(200px);
}
section:first-of-type h1:nth-of-type(4){
    transform:translate(-100px, 30px);
}
/* second part of the div  */
section:nth-of-type(2) h1:nth-of-type(1){
    transform:skew(30deg);
}
section:nth-of-type(2) h1:nth-of-type(2){
    transform:skew(10deg,5deg);
}
section:nth-of-type(2) h1:nth-of-type(3){
    transform:rotate(-20deg) scale(1.3);
}
section:nth-of-type(2) h1:nth-of-type(4){
    transform:translateX(-500px) scaleX(0.6) rotate(0.5turn);
}
/* it affects the whole content when using transforms thus the parent element */
section:nth-of-type(2){
    transform: scale(0.7) translateX(400px);
}